ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap; 
}
li{
    padding: 10px;
    width:300px;
    height: 550px;
    list-style-type: none;

}
.card{
    padding: 1rem;
     height:100%;
     width:100%;
    box-shadow: 5px 5px 10px #ccc; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;

}
img{
    cursor: pointer;
     width:100%;
    height:50%;
    object-fit:contain;
}
.card article{
    padding: 5px;
}
.card h3{
    padding: 4px;
}
.card p{
    padding:3px;
}
